[submodule "src/gresq/dashboard/gsaimage"]
	path = gsaimage
	url = git@github.com:nanoMFG/GSA-Image.git
[submodule "src/gresq/dashboard/gsaraman"]
	path = gsaraman
	url = git@github.com:nanoMFG/GSA-Raman.git
