[submodule "gsaimage"]
	path = gsaimage
	url = git@github.com:nanoMFG/GSA-Image.git
[submodule "gsaraman"]
	path = gsaraman
	url = git@github.com:nanoMFG/GSA-Raman.git
[submodule "GSA-Database"]
	path = gsadatabase
	url = https://github.com/nanoMFG/GSA-Database
